#modal-root {
    z-index: 200;
}
.by-modal, [dir=ltr] .by-modal:before {
    left: 0;
}
.by-modal, .by-modal:before {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
}
.by-modal {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 200;
}
.show-darkModal.by-modal:before {
    background-color: rgba(0, 0, 0, .6);
    content: "";
    display: block;
}
.otc__dialog.order-create-modal .by-dialog {
    border-radius: 16px !important;
    width: 732px;
}
.by-modal__container {
    left: 50%;
    transform: translate(-50%, -50%);
}
.by-modal__container {
    position: fixed;
    top: 50%;
    z-index: 200;
    z-index: 0;
}
.by-dialog {
    background-color: var(--card-primary-color);
    border-radius: var(--size-4);
    box-shadow: var(--popover-shadow);
    width: 440px;
}
.otc__dialog.order-create-modal .by-dialog .by-dialog__body {
    padding: 0;
}
.otc__dialog.by-modal .by-dialog__body {
    font-size: var(--size-14);
    font-weight: 400;
    line-height: 22px;
    padding: 0 24px 16px;
}
.fiat__spin-container, .fiat__spin-wrapper {
    position: relative;
}
.by-grid-row--start {
    justify-content: flex-start;
}
.by-grid-row {
    display: flex;
    flex-flow: row wrap;
}
.by-grid-col--11 {
    display: block;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.order-create-modal__advertiser-info {
    background-color: var(--card-primary-color);
    font-size: var(--size-12);
    height: 100%;
    line-height: var(--size-16);
    padding: 40px;
}
.by-grid-col--13 {
    display: block;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.order-create-modal__advertiser-info .by-avatar__container {
    background-color: #fde4b3;
}
.by-avatar__container__status {
    border: 2px solid var(--bds-gray-bg-card);
    border-radius: 50%;
    bottom: 0;
    height: var(--bds-font-size-12);
    position: absolute;
    width: var(--bds-font-size-12);
}
:where(.css-7o12g0).ant-space-vertical {
    flex-direction: column;
}
.order-create-modal__advertiser-info .advertiser-name {
    color: #ffff;
    font-size: var(--size-16);
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 8px;
}

.fiat-otc__online-status-tip {
    color: var(--bds-gray-t2);
    display: inline-block;
    font-size: var(--bds-font-size-12);
    font-weight: 400;
    margin-top: 6px;
}
.order-create-modal__advertiser-info .some-info-tag {
    color: var(--long);
    display: flex;
    flex-wrap: wrap;
    margin: var(--size-12) 0 var(--size-14) 0;
}
[dir=ltr] .order-create-modal__advertiser-info .some-info-tag span {
    padding-right: var(--size-10);
}
.order-create-modal__advertiser-info .some-info-tag .fiat-iconfont {
    font-size: var(--size-12);
    line-height: var(--size-16);
    white-space: nowrap;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.order-create-modal__advertiser-info .some-info-tag .fiat-iconfont:before {
    padding-right: 4px;
}
.order-create-modal__advertiser-info .some-info-tag span {
    padding-right: var(--size-10);
}
.fiat-icon--success:before {
    content: "\e6b2";
}
.order-create-modal__advertiser-info .some-info-tag .fiat-iconfont:before {
    padding-right: 4px;
}
.order-create-modal__advertiser-info .advertiser-crypto-info {
    padding: var(--size-24) 0 0;
}
.order-create-modal__advertiser-info .advertiser-crypto-info .crypto-info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
}

.order-create-modal__advertiser-info .advertiser-crypto-info .crypto-info-item .crypto-info-item-value {

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.order-create-modal__advertiser-info .advertiser-crypto-info .crypto-info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
}
.order-create-modal__advertiser-info .advertiser-crypto-info .crypto-info-item-payments li.tags {
    background-color: var(--card-color);
    border-radius: 4px;
    color:#e9edf2;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 4px;
    max-width: 100px;
    overflow: hidden;
    padding: 3px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-create-modal__advertiser-info .advertiser-remark-name {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 16px;
    color: #ffff;
}
.order-create-modal__advertiser-info .advertiser-remark {
    word-wrap: break-word;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    max-height: 130px;
    overflow-y: auto;
}
.order-create-modal__form-wrapper {
    padding: 40px;
    background-color: var(--card-primary-color);
}
.order-create-modal__form-wrapper .order-create-modal__form-wrapperPay {
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}
.order-create-modal__form-wrapper .order-create-modal__form-wrapperPayBuy {
    color: var(--bds-green-700-normal);
    font-weight: 600;
}
.order-create-modal__form-wrapper .order-create-modal__form-wrapperPrice {
    margin-right: 8px;
}
.order-create-modal__form-wrapper .amount-input-wrapper {
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 13px 16px;
    width: 100%;
}
.by-space {
    display: inline-flex
;
}
.order-create-modal__form-wrapper .amount-input-wrapper .amount-input-label {
    font-size: var(--size-12);
    line-height: var(--size-16);
}
.order-create-modal__form-wrapper .order-create-modal__input {
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-primary {
    border: none;
    color: var(--bds-static-black);
    background-color: var(--bds-brand-700-normal);
    box-shadow: none;
}
.order-create-modal__form-wrapper .order-create-modal__coin-image {
    margin-right: 8px;
}
.order-create-modal__form-wrapper .order-create-modal__coin-image {
    background: var(--brand-color);
    border-radius: 50%;
    display: flex
;
    height: var(--size-20);
    max-height: none;
    max-width: none;
    width: var(--size-20);
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-middle {
    padding: 12px 24px;
    font-size: var(--bds-font-size-16);
    line-height: var(--bds-line-height-16);
    border-radius: var(--bds-border-radius-8);
}
:where(.css-7o12g0).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
:where(.css-7o12g0).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    color: rgba(0, 0, 0, 0.88);
}
.order-create-modal__form-wrapper .order-create-modal__form-wrapperPaySell {
    color: var(--bds-red-700-normal);
    font-weight: 600;
}
.order-create-modal__form-wrapper .order-create-modal__transfer-icon .order-create-modal__balance-wrapper {
    font-size: var(--size-12);
    max-width: 280px;
    top: 0;
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, [dir=ltr] .otc__root .by-select-adv-selection-search-input, [dir=ltr] .otc__select-dropdown .by-select-adv-selection-search-input {
    padding-left: var(--size-12);
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__root .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selection-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-transparent);
    border: none;
    outline: none;
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__dialog.by-modal .by-select-adv-selector, .otc__root .by-select-adv-selection-search-input, .otc__root .by-select-adv-selector, .otc__select-dropdown .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selector {
    width: 100%;
}
.by-select-adv-selection-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-transparent);
    border: none;
    color: var(--gray-09);
    outline: none;
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__dialog.by-modal .by-select-adv-selector, .otc__root .by-select-adv-selection-search-input, .otc__root .by-select-adv-selector, .otc__select-dropdown .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selector {
    width: 100%;
}
.otc__dialog.by-modal .by-select-adv--outlined, .otc__root .by-select-adv--outlined, .otc__select-dropdown .by-select-adv--outlined {
    border: 1px solid var(--border);
    border-radius: var(--size-4);
}
.otc__dialog.by-modal .by-select-adv, .otc__root .by-select-adv, .otc__select-dropdown .by-select-adv {
    align-items: center;
    background-clip: padding-box;
    color: var(--gray-08);
    display: inline-flex;
    font-size: var(--font-size-14);
    position: relative;
    transition: border-color .15s linear, background-color .15s linear;
    will-change: border-color, background-color;
}
.otc-select.by-select-adv {
    height: var(--size-36);
    line-height: var(--size-36);
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, [dir=ltr] .otc__root .by-select-adv-selection-search-input, [dir=ltr] .otc__select-dropdown .by-select-adv-selection-search-input {
    padding-left: var(--size-12);
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__root .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selection-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-transparent);
    border: none;
    outline: none;
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__dialog.by-modal .by-select-adv-selector, .otc__root .by-select-adv-selection-search-input, .otc__root .by-select-adv-selector, .otc__select-dropdown .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selector {
    width: 100%;
}
.otc__dialog.by-modal .by-select-adv-selection-search-input, .otc__dialog.by-modal .by-select-adv-selector, .otc__root .by-select-adv-selection-search-input, .otc__root .by-select-adv-selector, .otc__select-dropdown .by-select-adv-selection-search-input, .otc__select-dropdown .by-select-adv-selector {
    width: 100%;
}
.otc__dialog.by-modal .by-select-adv-arrow, [dir=ltr] .otc__root .by-select-adv-arrow, [dir=ltr] .otc__select-dropdown .by-select-adv-arrow {
    padding-right: var(--size-8);
    right: var(--size-0);
}
.otc__dialog.by-modal .by-select-adv-arrow, .otc__root .by-select-adv-arrow, .otc__select-dropdown .by-select-adv-arrow {
    display: block;
    pointer-events: none;
    position: absolute;
    transform: scale(.6);
}
.f-8 {
    font-size: var(--font-size-8);
}
.iconfont, .regular {
    font-weight: 400;
}
.iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: by-iconfont !important;
    font-style: normal;
}
.icon.iconfont {
    display: inline-block;
}
.otc-select .by-select-adv-arrow .icon-xia {
    color: var(--gray-05);
}
.icon-xia:before {
    content: "\e845";
}
.PaymentSelect_paymentSelectWrapper__LN47g {
    margin-top: 12px;
    width: 100%;
}
.by-select-adv {
    align-items: center;
    background-clip: padding-box;
    color: var(--gray-08);
    display: inline-flex;
    font-size: var(--font-size-12);
    height: var(--size-24);
    line-height: var(--size-24);
    position: relative;
    transition: border-color .15s linear, background-color .15s linear;
    width: 100%;
    will-change: border-color, background-color;
}
.by-space--vertical {
    flex-direction: column;
}
.by-space {
    display: inline-flex
;
}
.PaymentSelect_paymentSelectLabel__2NcXo {
    font-size: 12px;
    line-height: 18px;
}
.otc__dialog.by-modal .by-select-adv-selection-placeholder, .otc__root .by-select-adv-selection-placeholder, .otc__select-dropdown .by-select-adv-selection-placeholder {
    color: var(--gray-04);
}
.otc-select.by-select-adv .by-select-adv-selection-item, [dir=ltr] .otc-select.by-select-adv .by-select-adv-selection-placeholder {
    left: var(--size-12);
}
.otc__dialog.by-modal .by-select-adv-selection-item, [dir=ltr] .otc__dialog.by-modal .by-select-adv-selection-placeholder, [dir=ltr] .otc__root .by-select-adv-selection-item, [dir=ltr] .otc__root .by-select-adv-selection-placeholder, [dir=ltr] .otc__select-dropdown .by-select-adv-selection-item, [dir=ltr] .otc__select-dropdown .by-select-adv-selection-placeholder {
    left: var(--size-12);
}
.otc__dialog.by-modal .by-select-adv-selection-item, .otc__dialog.by-modal .by-select-adv-selection-placeholder, .otc__root .by-select-adv-selection-item, .otc__root .by-select-adv-selection-placeholder, .otc__select-dropdown .by-select-adv-selection-item, .otc__select-dropdown .by-select-adv-selection-placeholder {
    pointer-events: none;
    position: absolute;
    top: 0;
}
.otc-select.by-select-adv .by-select-adv-selection-item, .otc-select.by-select-adv .by-select-adv-selection-placeholder {
    height: 34px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: calc(100% - 24px);
}
 .by-select-adv-selection-item,  .by-select-adv-selection-placeholder {
    left: var(--size-4);
}
:where(.css-7o12g0).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}