.fiat__spin-container, .fiat__spin-wrapper {
    position: relative;
}
.create-maker__title {
    align-items: center;
    color: var(--gray-08);
    display: flex
;
    font-size: 24px;
    font-weight: 700;
    justify-content: space-between;
    line-height: 31px;
    margin: 0 auto;
    padding: 40px 0 16px;
    width: 100%;
}
.list__maker--level .fiat-icon--wenhao {
    color: #e49a00;
    cursor: pointer;
    font-weight: 400;
}
.list__maker--level .fiat-icon--wenhao {
    margin-left: 4px;
}
.create-maker-bulk__tag {
    background: #f5f7fa;
    background: var(--gray-bg-bg-page, #f5f7fa);
    border: 1px solid #d6850d;
    border-radius: 4px;
    color: #d6850d;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    line-height: 30px;
    padding: 0 8px;
}
.create-maker__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 80px;
    width: 100%;
}
.create-maker__input-container {
    width: 690px;
}
.create-maker__header-wrapper {
    background-color: var(--color-white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 0 -1px 0 #f4f4f4;
    height: 74px;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
}
.create-maker__header {
    color: var(--gray-08);
    font-size: 20px;
    font-weight: 600;
}
.create-maker__share-stock-link {
    background-color: var(--fiat-background-02);
    border-radius: var(--size-32);
    color: var(--gray-08);
    cursor: pointer;
    padding: var(--size-12) var(--size-16);
}
.create-maker__share-stock-new {
    height: 16px;
    width: 35px;
}
.create-maker__content {
    background-color: var(--color-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
}
.create-maker__input-item {
    padding: 24px 88px 24px 0;
}
.create-maker__item-content {
    padding-left: 24px;
}
.create-maker__item-content {
    flex: 1 1;
}
.create-maker__form-input, .create-maker__form-title {
    color: var(--gray-08);
    font-size: 14px;
    line-height: 18px;
}
.create-maker__form-title {
    font-weight: 400;
}
.create-maker__input-item {
    display: flex;
}
.create-maker__input-item-title {
    color: var(--gray-08);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 136px;
}
.create-maker__item-content {
    padding-left: 24px;
}
.create-maker__price-input {
    width: 100%;
}
.create-maker__type-input {
    margin-top: 20px;
}
:where(.css-5jb6ku).ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
:where(.css-5jb6ku).ant-select:not(.ant-select-customize-input).ant-select-custom.ant-select-single .ant-select-selector {
    color: var(--bds-gray-t1-title);
}
:where(.css-5jb6ku).ant-select.ant-select-single.ant-select-custom.ant-select-custom-sm .ant-select-selector {
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
}
:where(.css-5jb6ku).ant-select:not(.ant-select-customize-input).ant-select-custom .ant-select-selector {
    align-items: center;
    background: var(--bds-gray-ele-line);
    border: none;
}
:where(.css-5jb6ku).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 32px;
    padding: 0 11px;
}
:where(.css-5jb6ku).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
:where(.css-5jb6ku).ant-select-single .ant-select-selector {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: flex
;
    border-radius: 6px;
}
:where(.css-5jb6ku).ant-select .ant-select-arrow {
    display: flex
;
    align-items: center;
    color: rgba(0, 0, 0, 0.25);
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    inset-inline-start: auto;
    inset-inline-end: 11px;
    height: 12px;
    margin-top: -6px;
    font-size: 12px;
    pointer-events: none;
}
:where(.css-5jb6ku).ant-select.ant-select-single.ant-select-custom.ant-select-custom-sm .ant-select-arrow {
    font-size: 14px;
}
:where(.css-5jb6ku).ant-select:not(.ant-select-customize-input).ant-select-custom .ant-select-arrow .icon-caret-down {
    transition: all 0.3s;
    color: var(--bds-gray-t2);
}
.create-maker__tips {
    background: var(--bds-brand-100-bg);
    border-radius: 4px;
    color: var(--bds-brand-700-normal);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 8px;
    padding: 9px 12px;
    width: 100%;
}
.create-maker__tips .fiat-icon--wenhao {
    color: var(--bds-gray-t2);
    cursor: pointer;
    font-size: 12px;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.create-maker__input-item {
    padding: 24px 88px 24px 0;
}
.create-maker__input-item {
    display: flex
;
}
.create-maker__input-item-title {
    color: var(--gray-08);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 136px;
}
.create-maker__item-content {
    flex: 1 1;
}
:where(.css-5jb6ku)[class^="ant-radio"], :where(.css-5jb6ku)[class*=" ant-radio"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.create-maker__price-type {
    margin-bottom: 4px;
}
:where(.css-5jb6ku).ant-radio-group {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 0;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: inline-block;
}
:where(.css-5jb6ku).ant-radio-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-flex
;
    align-items: baseline;
    margin-inline-start: 0;
    margin-inline-end: 8px;
    cursor: pointer;
}
:where(.css-5jb6ku).ant-radio-wrapper .ant-radio {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    align-self: center;
}
:where(.css-5jb6ku).ant-radio-wrapper .ant-radio-input {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}
:where(.css-5jb6ku).ant-radio-wrapper .ant-radio-checked::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #f7a600;
    border-radius: 50%;
    visibility: hidden;
    animation-name: css-5jb6ku-antRadioEffect;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: both;
    content: "";
}
:where(.css-5jb6ku).ant-radio-custom.ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
    transform: scale(0.5);
    background-color: var(--bds-brand-700-normal);
}
.create-maker__price-type {
    margin-bottom: 4px;
}
:where(.css-5jb6ku).ant-radio-custom.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    color: var(--bds-brand-700-normal);
    background-color: transparent;
    border-color: var(--bds-brand-700-normal);
}
:where(.css-5jb6ku).ant-radio-wrapper .ant-radio-inner {
    box-sizing: border-box;
    position: relative;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    transition: all 0.2s;
}
:where(.css-5jb6ku).ant-radio-wrapper span.ant-radio+* {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}
:where(.css-5jb6ku).ant-radio-wrapper .ant-radio-inner::after {
    box-sizing: border-box;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    display: block;
    width: 16px;
    height: 16px;
    margin-block-start: -8px;
    margin-inline-start: -8px;
    background-color: #f7a600;
    border-block-start: 0;
    border-inline-start: 0;
    border-radius: 16px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: "";
}
.create-maker__price-float-tips-wrapper {
    left: 100%;
}
.create-maker__price-float-tips-wrapper {
    position: absolute;
}
.create-maker__price-type-float .create-maker__price-float-tips {
    background: var(--fiat-background-02);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    color: var(--brand-color);
    display: inline;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
}
.create-maker__price-float-tips:before {
    border-left: 1px solid var(--brand-color);
    left: 0;
    transform: rotate(-45deg) translateX(-8px) translateY(2px);
}
.create-maker__price-float-tips:before {
    background: var(--fiat-background-02);
    border-top: 1px solid var(--brand-color);
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    top: 0;
    width: 6px;
}
.create-maker__tips-price {
    margin-bottom: 16px;
}
.create-maker__disclaimer, .create-maker__tips-price {
    color: var(--gray-t2-title);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.create-maker__price-input .by-space-item {
    flex: 1 1;
}
.pr-\[9px\] {
    padding-right: 9px;
}
.pl-\[11px\] {
    padding-left: 11px;
}
.ease-in-out {
    animation-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-100 {
    animation-duration: .1s;
}
.leading-\[18px\] {
    line-height: 18px;
}
.font-medium {
    font-weight: 500;
    font-weight: var(--bds-font-weight-medium);
}
.text-\[12px\] {
    font-size: 12px;
}
.bg-base-bds-gray-ele-line {
    background-color: #f3f5f7;
    background-color: var(--bds-gray-ele-line);
}
.create-maker__form-item {
    width: 100%;
}
.h-\[40px\] {
    height: 40px;
}
.create-maker__input-bottom-tips {
    color: #979797;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    line-height: 16px;
}
.create-maker__input-bottom-right-tips {
    color: #e49a00;
}
.create-maker__max {
    cursor: pointer;
}
.create-maker__time {
    color: var(--gray-08);
    display: flex;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 16px;
}
.create-maker__price-limit {
    margin-top: 24px;
}
.create-maker__price-limit .ant-space-item {
    width: 50%;
}
.create-maker__input-item {
    padding: 24px 88px 24px 0;
}
:where(.css-5jb6ku).ant-text-link-custom.ant-text-link-custom-primary {
    color: var(--bds-brand-900-text);
}
.fiat-counter-party .icon-plus {
    margin-right: 4px;
}
.iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: by-iconfont !important;
    font-style: normal;
}
.icon-plus:before {
    content: "\e834";
}
:where(.css-5jb6ku).ant-btn-link.ant-text-link-custom {
    height: auto;
    font-weight: var(--bds-font-weight-medium);
    border: none;
    padding: 0px;
}
:where(.css-5jb6ku).ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}
:where(.css-5jb6ku).ant-input-textarea-show-count .ant-input-data-count {
    color: rgba(0, 0, 0, 0.45);
    white-space: nowrap;
    pointer-events: none;
    float: right;
    margin-bottom: -22px;
}
:where(.css-5jb6ku).ant-input-textarea-show-count .ant-input-sm {
    padding: 10px 12px;
    font-size: var(--bds-font-size-12);
    line-height: var(--bds-line-height-12);
    border-radius: var(--bds-border-radius-4);
}
.create-maker__remark-bottom {
    color: var(--bds-gray-t3);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 16px;
}
 .create-maker__input-item-title {
    padding-right: 24px;
}
.create-maker__input-item-title {
    color: var(--gray-08);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 136px;
}
:where(.css-5jb6ku).ant-btn-default.ant-btn-custom.ant-btn-custom-middle {
    padding: 11px 23px;
}
:where(.css-5jb6ku).ant-space-align-center {
    align-items: center;
}
:where(.css-5jb6ku).ant-space {
    display: inline-flex
;
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-middle {
    padding: 12px 24px;
    font-size: var(--bds-font-size-16);
    line-height: var(--bds-line-height-16);
    border-radius: var(--bds-border-radius-8);
}
:where(.css-5jb6ku).ant-btn.ant-btn-custom {
    height: auto;
    font-weight: var(--bds-font-weight-semibold);
}
.index_createPaymentBtn__rFYMh {
    margin-top: 8px;
}
:where(.css-5jb6ku)[class^="ant-btn"], :where(.css-5jb6ku)[class*=" ant-btn"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

:where(.css-5jb6ku).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    color: rgba(0, 0, 0, 0.88);
}

.index_tipContainer__nJzO3 {
    color: var(--bds-gray-t3);
    margin-bottom: 16px;
}
.index_tipContainer__nJzO3 .index_tipItem__Ylf2W {
    font-size: 12px;
    line-height: 18px;
}
:where(.css-5jb6ku).ant-text-link-custom.ant-text-link-custom-x-sm {
    font-size: var(--bds-font-size-12);
    line-height: var(--bds-line-height-12);
}
:where(.css-5jb6ku).ant-text-link-custom.ant-text-link-custom-primary {
    color: var(--bds-brand-900-text);
}
:where(.css-5jb6ku).ant-btn-link.ant-text-link-custom {
    height: auto;
    font-weight: var(--bds-font-weight-medium);
    border: none;
    padding: 0px;
}
:where(.css-5jb6ku)[class^="ant-text-link"], :where(.css-5jb6ku)[class*=" ant-text-link"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-5jb6ku).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    color: rgba(0, 0, 0, 0.88);
}
:where(.css-5jb6ku).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
.create-maker__publish-container {
    border-radius: 8px;
    position: sticky;
    top: 104px;
    width: 400px;
}
.create-maker__publish-container {
    margin-left: 24px;
}
.create-maker__h2 {
    padding-left: 24px;
}
.create-maker__h2 {
    align-items: center;
    background-color: var(--color-white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 0 -1px 0 #f4f4f4;
    color: var(--gray-08);
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 74px;
    line-height: 26px;
}
.create-maker__content {
    background-color: var(--color-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
}
.create-maker__publish-content {
    padding-bottom: 24px;
}
.create-maker__sell-color {
    color: var(--short);
}
.create-maker__publish-side {
    align-items: center;
    box-shadow: inset 0 -1px 0 #f4f4f4;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    justify-content: space-between;
    line-height: 21px;
}
.space-around, .space-between {
    align-items: center;
    display: flex;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.create-maker__publish-side .fiat-type-icon {
    margin-right: 12px;
}

.create-maker__publish-info {
    box-shadow: inset 0 -1px 0 #f4f4f4;
    padding-bottom: 24px;
}
.fiat-icon--sell:before {
    content: "\e604";
}
.create-maker__publish-info {
    box-shadow: inset 0 -1px 0 #f4f4f4;
    padding-bottom: 24px;
}
.create-maker__publish-item {
    color: var(--gray-08);
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 21px;
    margin-top: 24px;
}
.create-maker__publish-item-value {
    font-weight: 600;
}
:where(.css-5jb6ku).ant-checkbox-wrapper.ant-checkbox-custom, :where(.css-5jb6ku).ant-checkbox-group .ant-checkbox-wrapper {
    color: var(--bds-gray-t1-title);
    background-color: transparent;
}
:where(.css-5jb6ku)[class^="ant-checkbox"], :where(.css-5jb6ku)[class*=" ant-checkbox"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-5jb6ku).ant-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: inline-flex
;
    align-items: baseline;
    cursor: pointer;
}
:where(.css-5jb6ku).ant-checkbox .ant-checkbox-input {
    /* position: absolute; */
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
:where(.css-5jb6ku).ant-checkbox-wrapper.ant-checkbox-custom .ant-checkbox .ant-checkbox-inner, :where(.css-5jb6ku).ant-checkbox-group .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
    background-color: var(--bds-checkbox-type-checked);
    border-color: var(--bds-gray-t2);
    border-radius: 2px;
}
:where(.css-5jb6ku).ant-checkbox .ant-checkbox-inner {
    box-sizing: border-box;
    position: relative;
    top: 0;
    inset-inline-start: 0;
    display: block;
    width: 16px;
    height: 16px;
    direction: ltr;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    border-collapse: separate;
    transition: all 0.3s;
}
:where(.css-5jb6ku).ant-checkbox .ant-checkbox-inner:after {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    inset-inline-start: 21.5%;
    display: table;
    width: 5.7142857142857135px;
    height: 9.142857142857142px;
    border: 2px solid #fff;
    border-top: 0;
    border-inline-start: 0;
    transform: rotate(45deg) scale(0) translate(-50%, -50%);
    opacity: 0;
    content: "";
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

:where(.css-5jb6ku).ant-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
}
.create-maker__publish-agreement {
    margin-top: 12px;
}
:where(.css-5jb6ku).ant-checkbox+span {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}
a, a:focus, a:hover, a:visited {
    color: var(--brand-color-01);
    text-decoration: none;
}
:where(.css-5jb6ku)[class^="ant-checkbox"]::before, :where(.css-5jb6ku)[class*=" ant-checkbox"]::before, :where(.css-5jb6ku)[class^="ant-checkbox"]::after, :where(.css-5jb6ku)[class*=" ant-checkbox"]::after {
    box-sizing: border-box;
}
:where(.css-5jb6ku).ant-checkbox-wrapper:after {
    display: inline-block;
    width: 0;
    overflow: hidden;
    content: '\a0';
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-primary:disabled {
    color: var(--bds-static-black);
    background-color: var(--bds-brand-700-normal);
    opacity: 0.35;
}
:where(.css-5jb6ku).ant-btn >span {
    display: inline-block;
}
:where(.css-5jb6ku).ant-btn.ant-btn-block {
    width: 100%;
}
.create-maker__publish-btn {
    margin-top: 40px;
}
:where(.css-5jb6ku).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    color: rgba(0, 0, 0, 0.88);
}
:where(.css-5jb6ku).ant-btn-primary {
    color: #fff;
    background-color: #f7a600;
    box-shadow: 0 2px 0 rgba(255, 215, 5, 0.1);
}
.share-stock-tips-wrapper {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .9), hsla(0, 0%, 100%, .9)), var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: var(--size-8);
    margin-top: 40px;
    padding: var(--size-20) var(--size-20) 0;
    width: 100%;
}
.share-stock-tips-wrapper:before {
    border-left: inherit;
    left: -1px;
    transform: rotate(45deg) translate(-50%);
}
.share-stock-tips-wrapper:before {
    background: inherit;
    border-bottom: inherit;
    box-shadow: inherit;
    box-sizing: border-box;
    content: "";
    height: 10px;
    position: absolute;
    top: 71%;
    width: 10px;
}
.share-stock-tips-icon {
    height: 18px;
    width: 18px;
}
.share-stock-tips-title {
    color: var(--gray-08);
    font-size: var(--size-16);
    font-weight: 700;
}
