#rootEl {
    transition: all .2s linear;
    margin-top: 64px;
    margin-left: 210px;
}
.trade-list__wrapper {
    /* background-color: var(--gray-bg-card); */
    border-radius: 8px;
    margin-top: 16px;
}
.trade-list-buy-sell__wrapper {
    /* background-color: var(--gray-bg-card); */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: flex-start;
    padding: 24px 32px 0;
}
:where(.css-7o12g0)[class^="ant-space"] [class^="ant-space"], :where(.css-7o12g0)[class*=" ant-space"] [class^="ant-space"], :where(.css-7o12g0)[class^="ant-space"] [class*=" ant-space"], :where(.css-7o12g0)[class*=" ant-space"] [class*=" ant-space"] {
    box-sizing: border-box;
}
.by-switch.action-type-switch {
    background-color: var(--card-primary-color);
    border: 0;
    width: 192px;
}
.by-switch.action-type-switch.buy .by-switch__item--active {
    background-color: var(--green-700-normal);
    color: var(--active-text);
}
.by-switch {
    border: 1px solid var(--gray-02);
    border-radius: var(--size-4);
    display: inline-flex;
    font-size: var(--font-size-12);
}
.by-switch__item {
    align-items: center;
    border-radius: var(--size-4);
    color: var(--gray-07);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1;
    font-weight: 600;
    height: var(--size-24);
    justify-content: center;
    padding: var(--size-0) var(--size-12);
    white-space: nowrap;
}
.by-switch.action-type-switch .by-switch__item {
    color: var(--gray-t3-title);
    font-size: var(--bds-font-size-14);
    height: 32px;
    line-height: 22px;
    margin: 4px;
}
.trade-list-search-filter__wrapper {
    /* background-color: var(--gray-bg-card); */
    border-bottom: 1px solid var(--border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: flex-start;
    padding: 24px 32px;
    position: sticky;
    top: 56px;
    z-index: 1;
}
:where(.css-7o12g0)[class^="ant-space"], :where(.css-7o12g0)[class*=" ant-space"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-7o12g0).ant-space {
    display: inline-flex;
}
 .trade-list-search-filter__wrapper .no-border-radius-right {
    border-radius: 4px 0 0 4px;
}
:where(.css-7o12g0).ant-select.ant-select-single.ant-select-custom.ant-select-custom-sm .ant-select-selector {
    height: 40px;
    border-radius: 0 4px 4px 0;
    padding: 0 12px;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
:where(.css-7o12g0).ant-select-single .ant-select-selector {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: flex;
    border-radius: 6px;
}
:where(.css-7o12g0).ant-select-single .ant-select-selector .ant-select-selection-search {
    position: absolute;
    top: 0;
    inset-inline-start: 11px;
    inset-inline-end: 11px;
    bottom: 0;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input).ant-select-custom .ant-select-selector {
    align-items: center;
    background: var(--card-primary-color);
    border: none;
}
:where(.css-7o12g0).ant-select .ant-select-arrow {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.25);
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    inset-inline-start: auto;
    inset-inline-end: 11px;
    height: 12px;
    margin-top: -6px;
    font-size: 12px;
    pointer-events: none;
}
:where(.css-7o12g0).ant-space-align-center {
    align-items: center;
}
.trade-list-search-filter__wrapper .ant-input.fiat-otc-input:focus {
    border-color: transparent;
    box-shadow: none;
}
 .trade-list-search-filter__wrapper .no-border-radius-right {
    border-radius: 4px 0 0 4px;
}
:where(.css-7o12g0).ant-input:placeholder-shown {
    text-overflow: ellipsis;
}
:where(.css-7o12g0).ant-input.ant-input-custom-sm {
    padding: 10px 12px;
    font-size: 12px;
    line-height: 18px;
    /* border-radius: 4px; */
}
:where(.css-7o12g0).ant-input.ant-input-custom {
    background-color: var(--card-primary-color);
    font-weight: var(--bds-font-weight-medium);
    color: var(--bds-gray-t1-title);
    border-color: var(--card-primary-color);
}
:where(.css-7o12g0).ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    /* border-color: #d9d9d9; */
    border-radius: 6px;
    transition: all 0.2s;
}
:where(.css-7o12g0)[class^="ant-input"], :where(.css-7o12g0)[class*=" ant-input"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-7o12g0).ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
:where(.css-7o12g0).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 30px;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
}
:where(.css-7o12g0).ant-select-single {
    font-size: 14px;
}
:where(.css-7o12g0).ant-select-single .ant-select-selector {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    display: flex;
    border-radius: 6px;
}
:where(.css-7o12g0).ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
:where(.css-7o12g0).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 32px;
    padding: 0 11px;
}
:where(.css-7o12g0).ant-select-single .ant-select-selector:after, :where(.css-7o12g0).ant-select-single .ant-select-selector .ant-select-selection-item:after, :where(.css-7o12g0).ant-select-single .ant-select-selector .ant-select-selection-placeholder:after {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: "\a0";
}
:where(.css-7o12g0).ant-select-single:not(.ant-select-customize-input) .ant-select-selector:after {
    line-height: 30px;
} 
.fiat-otc__currency-symbol {
    height: 100%;
    width: 100%;
}
 .trade-list-search-filter__wrapper .fiat-otc-select .ant-select-selection-item .fiat-otc-option-flex .token-image {
    margin-right: 4px;
}
.trade-list-search-filter__wrapper .fiat-otc-select .ant-select-selection-item .fiat-otc-option-flex .token-image {
    border-radius: 50%;
    height: 14px;
    width: 14px;
}
.trade-list-search-filter__wrapper .fiat-otc-select .ant-select-selection-item .fiat-otc-option-flex {
    align-items: center;
    display: flex;
    margin-top: 24px;
}
:where(.css-7o12g0).ant-select-single .ant-select-selector .ant-select-selection-search-input {
    width: 100%;
}
:where(.css-7o12g0)[class^="ant-select"] [class^="ant-select"], :where(.css-7o12g0)[class*=" ant-select"] [class^="ant-select"], :where(.css-7o12g0)[class^="ant-select"] [class*=" ant-select"], :where(.css-7o12g0)[class*=" ant-select"] [class*=" ant-select"] {
    box-sizing: border-box;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input).ant-select-custom.ant-select-single .ant-select-selector {
    color: var(--text-color);
}
[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}
.paywayAnchorListExt {
    color: #adb1b8;
}
.paywayAnchorList {
    background-color: var(--card-primary-color);
    border-radius: 4px;
    color: #81858c;
    display: flex;
    font-size: var(--bds-font-size-12);
    justify-content: space-between;
    padding: 14px 8px;
    width: 270px;
}
#paywayAnchorList .trigle {
    margin-left: 5px;
    transform: rotate(-30deg) skewY(30deg) scaleX(.866);
}
#paywayAnchorList .trigle {
    border-radius: 20%;
    height: 8px;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
    width: 9px;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input).ant-select-custom .ant-select-arrow .icon-caret-down {
    transition: all 0.3s;
    color: var(--text-color);
}

.trade-list__content {
    background-color: var(--card-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}
.trade-table__wrapper {
    /* background-color: var(--bds-gray-bg-card); */
    position: relative;
}
.trade-table__spin {
    min-height: 325px;
}
:where(.css-7o12g0).ant-spin-nested-loading {
    position: relative;
}
:where(.css-7o12g0)[class^="ant-spin"], :where(.css-7o12g0)[class*=" ant-spin"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-7o12g0).ant-spin-nested-loading .ant-spin-container {
    position: relative;
    transition: opacity 0.3s;
}
.trade-table__wrapper table {
    min-width: 100%;
}
.trade-table__spin {
    min-height: 325px;
}
:where(.css-7o12g0).ant-spin-nested-loading {
    position: relative;
}
:where(.css-7o12g0)[class^="ant-spin"], :where(.css-7o12g0)[class*=" ant-spin"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-7o12g0)[class^="ant-spin"], :where(.css-7o12g0)[class*=" ant-spin"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.trade-table__wrapper table td:first-child,  .trade-table__wrapper table th:first-child {
    padding-left: 32px;
}
 .trade-table__wrapper table td,  .trade-table__wrapper table th {
    text-align: left;
}
.trade-table__wrapper table th {

    color: var(--bds-gray-t3);
    font-size: 13px;
}
.trade-table__wrapper table td, .trade-table__wrapper table th {
    vertical-align: middle;
}

.trade-table__wrapper table thead tr {
    font-size: 11px;
    line-height: 48px;
    position: relative;
}
.trade-table__wrapper table tbody.trade-table__tbody {
    position: relative;
}
 .trade-table__wrapper table td:first-child,  .trade-table__wrapper table th:first-child {
    padding-left: 32px;
}

.trade-table__wrapper table tr:not(.tipsBox) td {
    padding: 20px 15px;
}
:where(.css-7o12g0).ant-space {
    display: inline-flex
;
}
:where(.css-7o12g0).ant-space-align-center {
    align-items: center;
}
:where(.css-7o12g0)[class^="ant-space"], :where(.css-7o12g0)[class*=" ant-space"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-7o12g0)[class^="ant-space"] [class^="ant-space"], :where(.css-7o12g0)[class*=" ant-space"] [class^="ant-space"], :where(.css-7o12g0)[class^="ant-space"] [class*=" ant-space"], :where(.css-7o12g0)[class*=" ant-space"] [class*=" ant-space"] {
    box-sizing: border-box;
}
.by-avatar {
    box-sizing: border-box;
}
.by-avatar .by-avatar__container {
    align-items: center;
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
    color: var(--bds-brand-700-normal);
    display: flex
;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}
.trade-table__wrapper #guide-step-five {
    height: 150px;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: -1;
}
 .trade-table__wrapper #guide-step-five {
    right: 0;
}
.text-brandColor-bds-brand-900-text {
    color: #d6850d;
    color: var(--bds-brand-900-text);
}
.leading-\[18px\] {
    line-height: 18px;
}
.by-avatar--online .by-avatar__container__status {
    background: var(--bds-green-700-normal);
}
.by-avatar__container__status {
    border: 2px solid var(--bds-gray-bg-card);
    border-radius: 50%;
    bottom: 0;
    height: var(--bds-font-size-12);
    position: absolute;
    width: var(--bds-font-size-12);
}
.by-avatar__container__status {
    right: 0;
}
.by-avatar--online .by-avatar__container__status {
    background: var(--bds-green-700-normal);
}
.trade-table__wrapper table td:first-child, .trade-table__wrapper table th:first-child {
    padding-left: 32px;
}
:where(.css-7o12g0).ant-space {
    display: inline-flex
;
}
:where(.css-7o12g0).ant-space-align-center {
    align-items: center;
}

:where(.css-7o12g0).ant-space-vertical {
    flex-direction: column;
}
.trade-table__wrapper .advertiser-name {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: var(--size-16);
    font-weight: 600;
    line-height: 24px;
}
.trade-table__wrapper .advertiser-name span {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .advertiser-auth-tag {
    margin-left: 4px;
}
.advertiser-auth-tag {
    display: inline-block;
    height: 14px;
    width: 14px;
}
.trade-table__wrapper .advertiser-info {
    color: var(--text-color);
    font-size: var(--bds-font-size-12);
    font-weight: 400;
    margin-top: 8px;
}
.trade-table__wrapper .advertiser-info .delimiter {
    color: var(--bds-gray-t4);
    padding: 0 8px;
}
.trade-table__wrapper .execute-rate {
    cursor: pointer;
    font-size: 12px;
}
.trade-table__wrapper table td, .trade-table__wrapper table th {
    vertical-align: middle;
}

:where(.css-7o12g0).ant-space-vertical {
    flex-direction: column;
}
:where(.css-7o12g0).ant-space {
    display: inline-flex
;
}
.trade-table__wrapper .price-amount {
    /* color: var(--bds-gray-t1-title); */
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
}
:where(.css-7o12g0)[class^="ant-space"], :where(.css-7o12g0)[class*=" ant-space"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.trade-table__wrapper .ql-value {
    /* color: var(--gray-t1-title); */
    font-weight: 600;
    line-height: 22px;
}
 .trade-list-tag {
    margin-right: 4px;
}
.trade-list-tag {
    background-color: var(--card-primary-color);
    border-radius: 4px;
    /* color: var(--gray-); */
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 4px;
    max-width: 160px;
    overflow: hidden;
    padding: 3px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-sm {
    padding: 9px 16px;
    font-size: var(--bds-font-size-14);
    line-height: var(--bds-line-height-14);
    border-radius: var(--bds-border-radius-4);
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-tradeLong {
    border: none;
    color: var(--bds-static-white);
    background-color: var(--bds-green-700-normal);
    box-shadow: none;
}
.trade-table__wrapper .price-unit {
    color: var(--gray-t1-title);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}
.bg-brandColor-bds-brand-100-bg {
    background-color: rgb(247 166 0 / 12%);
    background-color: var(--bds-brand-100-bg);
}
.trade-table__wrapper table thead tr:after {
    background-color: var(--border);
    bottom: 0;
    content: "";
    height: 1px;
    left: 32px;
    position: absolute;
    right: 32px;
}
.trade-table__wrapper table tbody tr:after {
    background-color: var(--border);
    bottom: 0;
    content: "";
    height: 1px;
    left: 32px;
    position: absolute;
    right: 32px;
}

:where(.css-7o12g0).ant-spin-nested-loading .ant-spin-container::after {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    transition: all 0.3s;
    content: "";
    pointer-events: none;
}
.pagination:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.pagination-next, .pagination-prev {
    outline: 0;
}
.pagination-jump-next, .pagination-jump-prev, .pagination-next, .pagination-prev {
    border-radius: 2px;
    color: var(--gray-08);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    list-style: none;
    min-width: 24px;
    text-align: center;
    transition: all .3s;
    vertical-align: middle;
}
.pagination-next button, .pagination-prev button {
    border-radius: var(--size-4);
    color: var(--gray-08);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pagination-next button:after {
    content: "\0203a";
    display: block;
}

.pagination-item {
    background-color: var(--gray-01);
    border: 1px solid #c7cdd0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    list-style: none;
    min-width: 24px;
    outline: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.pagination-jump-next button, .pagination-jump-prev button {
    background: transparent;
    border: none;
    color: var(--gray-08);
    cursor: pointer;
}
.pagination-jump-next button:after, .pagination-jump-prev button:after {
    content: "\2022\2022\2022";
    display: block;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-prefix, :where(.css-7o12g0).ant-input-affix-wrapper .ant-input-suffix {
    display: flex
;
    flex: none;
    align-items: center;
}
:where(.css-7o12g0).ant-input-affix-wrapper.ant-input-custom.ant-input-custom-x-sm .ant-input-prefix svg {
    width: 14px;
    height: 14px;
}

:where(.css-7o12g0).ant-input-affix-wrapper.ant-input-custom.ant-input-custom-x-sm .ant-input {
    font-weight: var(--bds-font-weight-medium);
    color: var(--bds-gray-t1-title);
    line-height: var(--bds-line-height-12);
}
:where(.css-7o12g0).ant-input-affix-wrapper >input.ant-input:focus {
    box-shadow: none !important;
}
:where(.css-7o12g0).ant-input-affix-wrapper >input.ant-input {
    padding: 0;
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
}
:where(.css-7o12g0).ant-input:focus, :where(.css-7o12g0).ant-input-focused {
    border-color: #ffbf29;
    box-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
}
:where(.css-7o12g0).ant-input-affix-wrapper {
    position: relative;
    display: inline-flex
;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-suffix {
    margin-inline-start: 4px;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-prefix, :where(.css-7o12g0).ant-input-affix-wrapper .ant-input-suffix {
    display: flex;
    flex: none;
    align-items: center;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-clear-icon-hidden {
    visibility: hidden;
}
:where(.css-7o12g0).ant-input-affix-wrapper.ant-input-custom.ant-input-custom-x-sm .ant-input:not(.ant-input-disabled) {
    background-color: none;
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown .ant-select-item.ant-select-item-option:first-child {
    margin-top: 0;
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown.ant-select-custom-dropdown-sm .ant-select-item.ant-select-item-option {
    padding: 4px 8px;
    font-size: var(--bds-font-size-12);
    line-height: var(--bds-line-height-12);
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown .ant-select-item.ant-select-item-option {
    border-radius: 6px;
    color: var(--bds-gray-t1-title);
    min-height: unset;
}
:where(.css-7o12g0).ant-select-dropdown .ant-select-item-option {
    display: flex
;
}
.ant-select-item.fiat-otc-select-option .fiat-otc-option-flex {
    align-items: center;
    display: flex
;
}
.ant-select-item.fiat-otc-select-option .fiat-otc-option-flex .token-image {
    margin-right: 8px;
}
.ant-select-item.fiat-otc-select-option .fiat-otc-option-flex .token-image {
    border-radius: 50%;
    height: 14px;
    width: 14px;
}
:where(.css-7o12g0).ant-select-dropdown .ant-select-item {
    position: relative;
    display: block;
    min-height: 32px;
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5714285714285714;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 4px;
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected.ant-select-item-option-active {
    background: var(--bds-trans-hover);
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background: unset;
    color: var(--bds-brand-900-text);
    font-weight: 500;
}
.by-popover__container {
    background-color: var(--modal-bg-main);
    border-radius: var(--size-4);
    box-shadow: var(--popover-shadow);
    color: var(--gray-07);
    z-index: 9999;
}
#paywayList {
    background-color: #fff;
    border: 1px solid #f5f7fa;
    height: 360px;
    padding: 8px 0;
    width: 290px;
}
#paywayList .list-wrap {
    height: 300px;
    overflow-y: overlay;
    padding-bottom: 12px;
    position: relative;
}
.by-popover__container {
    background-color: var(--modal-bg-main);
    border-radius: var(--size-4);
    box-shadow: var(--popover-shadow);
    color: var(--gray-07);
    z-index: 9999;
}
#paywayList .list-wrap-scroll {
    padding: 0 17px;
}
.by-input, .by-input__container {
    display: inline-flex;
    position: relative;
    width: 100%;
}
.by-input {
    box-sizing: border-box;
    flex-direction: column;
    font-size: var(--font-size-12);
}
.by-input, .by-input__container {
    display: inline-flex;
    position: relative;
    width: 100%;
}
.by-input.by-input--outlined .by-input__container:focus-within {
    border-color: var(--brand-color-02);
}
.by-input--large .by-input__container {
    height: var(--size-32);
}
.by-input--outlined .by-input__container {
    border: 1px solid var(--gray-03);
}
.by-input__container {
    align-items: center;
    background-clip: padding-box;
    border: 1px solid var(--color-transparent);
    border-radius: var(--size-4);
    color: var(--gray-08);
    height: var(--size-24);
    transition: border-color .15s linear, background-color .15s linear;
    will-change: border-color, background-color;
}
.by-input, .by-input__container {
    display: inline-flex
;
    position: relative;
    width: 100%;
}
 .by-input--outlined .by-input__left-icon {
    padding-left: var(--size-8);
}
.by-input__left-icon, .by-input__right-icon {
    flex-basis: var(--size-16);
    white-space: nowrap;
}
.gc-04 {
    color: var(--gray-05);
}
.icon.iconfont {
    display: inline-block;
}
.icon-search:before {
    content: "\e889";
}
.iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: by-iconfont !important;
    font-style: normal;
}
.iconfont, .regular {
    font-weight: 400;
}
.by-input__wrapper {
    align-items: center;
    margin: var(--size-0) var(--size-4);
    position: relative;
    width: 100%;
}
.by-input.by-input--outlined .by-input__container:focus-within .by-input__inner {
    color: var(--gray-07);
}
.by-input--large .by-input__inner, .by-input--large .by-input__tips {
    font-size: var(--font-size-12);
}
.by-input__inner {
    background-color: var(--color-transparent);
    border: none;
    color: var(--gray-09);
    font: inherit;
    line-height: var(--font-size-14);
    outline: none;
    width: 100%;
}
.by-input__inner {
    transition: color .15s linear;
    will-change: color;
}
#paywayList .list-wrap-alert {
    background-color: var(--bds-brand-100-bg);
    border-radius: 8px;
    display: flex
;
    justify-content: space-between;
    margin: 8px 0;
    padding: 8px 12px;
}
.by-space-align--baseline {
    align-items: baseline;
}
#paywayList .list-wrap-alert .fiat-iconfont {
    color: var(--bds-brand-700-normal);
    font-size: 16px;
    vertical-align: -3px;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.fiat-icon--info:before {
    content: "\e661";
}
#paywayList .list-wrap-alert .iconfont {
    /* color: var(--bds-gray-t2); */
    cursor: pointer;
    font-size: 8px;
}
.iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: by-iconfont !important;
    font-style: normal;
}
.iconfont, .regular {
    font-weight: 400;
}
.icon-close:before {
    content: "\e82e";
}
#paywayList #lists {
    display: flex
;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}
#paywayList #lists .active, #paywayList #lists .all-active {
    background-color: rgba(247, 166, 0, .12);
    border-color: var(--bds-brand-700-normal);
    color: var(--bds-brand-700-normal);
}
#paywayList #lists li {
    align-items: center;
    background-color: #f3f5f7;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex
;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 18px;
    padding: 6px 8px;
    width: calc(50% - 4px);
}
#paywayList .content span {
    font-size: var(--bds-font-size-12);
    max-width: 94px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#paywayList #lists .active .iconcorrect, #paywayList #lists .all-active .iconcorrect {
    color: var(--bds-brand-700-normal);
}
 #paywayList #lists .active .iconcorrect,  #paywayList #lists .all-active .iconcorrect {
    margin-left: 6px;
}
#paywayList #lists li {
    align-items: center;
    background-color: #f3f5f7;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex
;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 18px;
    padding: 6px 8px;
    width: calc(50% - 4px);
}
#paywayList .btn-group {
    background-color: #fff;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: fixed;
}
#paywayList .btn-confirm {
    background-color: var(--brand-color);
}
#paywayList .btn-cancel, #paywayList .btn-confirm {
    border-radius: 4px;
    color: #121214;
    height: 32px;
    width: 124px;
}
.by-button {
    background-color: var(--color-transparent);
    border: none;
    border-radius: var(--size-4);
    color: var(--gray-07);
    cursor: pointer;
    font-size: var(--font-size-12);
    font: inherit;
    height: var(--size-24);
    line-height: 1;
    outline: none;
    transition: background-color .15s linear, color .15s linear, border-color .15s linear;
    will-change: background-color color border-color;
}
#paywayList .btn-cancel {
    border: 1px solid #d5dae0;
}
#paywayList .btn-cancel {
    margin-left: 8px;
}
.ease-in-out {
    animation-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-100 {
    animation-duration: .1s;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-100 {
    transition-duration: .1s;
}
.shadow-input-shadow {
    --tw-shadow: 0 0 0 5px var(--bds-brand-100-bg);
    --tw-shadow-colored: 0 0 0 5px var(--tw-shadow-color);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text-brandColor-bds-brand-900-text {
    color: #d6850d;
    color: var(--bds-brand-900-text);
}
.items-center {
    align-items: center;
}
.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.text-\[var\(--bds-gray-t1-title\)\] {
    color: #121214;
    color: var(--bds-gray-t1-title);
}
.order-create-modal__form-wrapper .amount-input-wrapper .amount-input-delimiter {
    color: var(--fiat-gray-04);
    padding: 0 8px;
}
.css-z084bj {
    font-size: var(--bds-font-size-12);
    line-height: var(--bds-line-height-12);
}
.order-create-modal__form-wrapper .order-create-gap {
    height: 16px;
}
.otc__dialog.order-create-modal .order-create-modal__button-wrapper {
    margin-top: 60px;
}
.otc__dialog.order-create-modal .order-create-modal__button-wrapper .order-create-modal__button-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-primary:disabled {
    color: var(--bds-static-black);
    background-color: var(--bds-brand-700-normal);
    opacity: 0.35;
}
.otc__dialog.order-create-modal .order-create-modal__button-wrapper .ant-btn {
    flex: 1 1;
    height: var(--size-48);
}
 .otc__dialog.order-create-modal .order-create-modal__button-wrapper .ant-btn {
    margin-right: var(--size-16);
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-primary:disabled {
    color: var(--bds-static-black);
    background-color: var(--bds-brand-700-normal);
    opacity: 0.35;
}
.by-space--vertical {
    flex-direction: column;
}
.by-switch.action-type-switch.sell .by-switch__item--active {
    background-color: var(--red-700-normal);
    color: var(--gray-bg-card);
}
:where(.css-7o12g0).ant-btn-custom.ant-btn-custom-tradeShort {
    border: none;
    color: var(--bds-static-white);
    background-color: var(--bds-red-700-normal);
    box-shadow: none;
}
:where(.css-7o12g0).ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
:where(.css-7o12g0).ant-select:not(.ant-select-customize-input) .ant-select-selector input {
    cursor: pointer;
}
.order-create-modal__form-wrapper .amount-input-wrapper .amount-input-all {
    color: var(--brand-900-text);
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.trade-table__wrapper table td:first-child, .trade-table__wrapper table th:first-child {
    padding-left: 32px;
}
.trade-table__wrapper table td,  .trade-table__wrapper table th {
    text-align: left;
}
.trade-list-tag {
    margin-right: 4px;
}
.pagination-item {
    margin-right: 8px;
}

