.fiat-otc__order-detail-wrapper {
    padding-bottom: 80px;
    width: 1200px;
    margin: var(--size-24);
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper {
    color: var(--bds-gray-t1-title);
    margin-bottom: 24px;
    width: 776px;
}
.by-grid-row--bottom {
    align-items: flex-end;
}
.by-grid-row--space-between {
    justify-content: space-between;
}
.by-grid-row {
    display: flex;
    flex-flow: wrap;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-detail-title-col {
    align-items: center;
    display: flex;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-detail-title-col .title {
    font-size: var(--size-24);
    font-weight: 600;
    line-height: 32px;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-id-and-time {
    font-size: var(--size-12);
    line-height: 18px;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-id-and-time i {
    color: var(--gray-05);
    font-size: var(--size-12);
}
.fiat-icon--copy:before {
    content: "\e6b3";
}
.by-space {
    display: inline-flex
;
}
.fiat-otc__order-detail-wrapper .content-wrapper {
    width: 100%;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content {
    width: 85%;
    border-radius: 16px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header {
    background-color: var(--color-white);
    margin-bottom: 16px;
    position: relative;
    border-radius: inherit;
    padding: 24px 32px;
}
.by-space-align--center {
    align-items: center;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .fiat-iconfont.pending {
    color: var(--brand-color);
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .order-icon.fiat-iconfont {
    display: inline-block;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.fiat-icon--wait-big:before {
    content: "\e60a";
}
.by-space--vertical {
    flex-direction: column;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title {
    color: var(--bds-gray-t1-title);
    display: flex
;
    font-size: var(--size-20);
    font-weight: 600;
    line-height: 28px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-countdown-span {
    width: 590px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-countdown .fiat-otc__countdown {
    right: 32px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-countdown .fiat-otc__countdown {
    position: absolute;
}
.fiat-otc__countdown {
    margin-left: var(--size-8);
}
.fiat-otc__countdown {
    font-weight: 400;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-countdown .fiat-otc__countdown .time-string {
    background-color: var(--bds-red-700-normal);
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 28px;
    padding-top: 2px;
    width: 32px;
    border-radius: 8px;
    text-align: center;
    color: var(--color-white);
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-countdown .fiat-otc__countdown .time-separate {
    color: var(--bds-gray-t4-dis);
    font-size: 20px;
    font-weight: 600;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.header-title-notice li {
    color: var(--bds-gray-t2);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-inline-start: 16px;
    list-style: disc !important;
}
.fiat-otc__order-detail-step {
    margin: var(--size-24) 0 0 48px;
}
.fiat-otc__order-detail-step {
    background-color: var(--bds-gray-ele-line);
    border-radius: var(--size-8);
    padding: 16px;
}
:where(.css-5jb6ku).ant-space {
    display: inline-flex
;
}
:where(.css-5jb6ku).ant-space-align-start {
    align-items: flex-start;
}
:where(.css-5jb6ku)[class^="ant-space"], :where(.css-5jb6ku)[class*=" ant-space"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.fiat-otc__order-detail-step .active .step-value {
    background-color: var(--bds-brand-700-normal);
}
.fiat-otc__order-detail-step .step-value {
    align-items: center;
    background-color: var(--bds-gray-t4-dis);
    color: var(--bds-gray-t1-title);
    display: flex;
    font-size: var(--size-12);
    height: 16px;
    justify-content: center;
    width: 16px;
    border-radius: 50%;
}
.fiat-otc__order-detail-step .step-label {
    padding-right: var(--size-4);
}
.fiat-otc__order-detail-step .active .step-label {
    font-weight: 500;
}
.fiat-otc__order-detail-step .step-label {
    color: var(--bds-gray-t1-title);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 148px;
}
.fiat-otc__order-detail-step .step-dash-line {
    margin: 8px 8px 0px 4px;
}
.fiat-otc__order-detail-step .step-dash-line {
    background-color: var(--bds-gray-t4-dis);
    height: 1px;
    width: 48px;
}
:where(.css-5jb6ku).ant-space-align-start {
    align-items: flex-start;
}
.fiat-otc__order-detail-step .step-value {
    align-items: center;
    background-color: var(--bds-gray-t4-dis);
    color: var(--bds-gray-t1-title);
    display: flex;
    font-size: var(--size-12);
    height: 16px;
    justify-content: center;
    width: 16px;
    border-radius: 50%;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .body {
    background-color: var(--color-white);
    padding-top: var(--size-24);
    border-radius: inherit;
}
 .fiat-otc__order-summary {
    padding: 0px 32px 0px 44px;
}
.fiat-otc__order-summary {
    width: 100%;
}
:where(.css-5jb6ku).ant-space-vertical {
    flex-direction: column;
}
.fiat-otc__order-summary .fiat-otc__summary-title {
    color: var(--bds-gray-t1-title);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon {
    margin-right: 20px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon {
    display: inline-block;
    height: 16px;
    position: relative;
    vertical-align: -3px;
    width: 16px;
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon::after {
    left: 4px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon::after {
    background-color: var(--bds-brand-700-normal);
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    top: 4px;
    width: 8px;
    border-radius: 50%;
}
.fiat-otc__order-summary .summary-left {
    padding-left: 36px;
}
.fiat-otc__order-summary .summary-info {
    background-color: var(--bds-gray-ele-line);
    margin-top: 8px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: var(--size-8);
    padding: 16px 0px 0px;
}
.by-grid-row--top {
    align-items: flex-start;
}
.by-grid-row--space-between {
    justify-content: space-between;
}
.by-grid-row {
    display: flex;
    flex-flow: wrap;
}
.fiat-otc__order-summary .summary-info .summary-item {
    border-right: 1px solid var(--bds-gray-t4-dis);
}
.fiat-otc__order-summary .summary-info .summary-item {
    margin-bottom: 16px;
}
.by-grid-col--8 {
    display: block;
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.fiat-otc__order-summary .summary-info .summary-item .summary-item-title {
    color: var(--bds-gray-t2);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.fiat-otc__order-summary .summary-info .summary-item .summary-item-value {
    color: var(--bds-gray-t1-title);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
}
.fiat-otc__order-summary .summary-info .summary-item .summary-item-value.pay.buy {
    color: var(--bds-green-700-normal);
}
.index_orderPaymentMethod__XU8ar {
    padding: 0px 32px 0px 44px;
}
.index_orderPaymentMethod__XU8ar {
    margin-top: var(--size-24);
    width: 100%;
}
.by-space--vertical {
    flex-direction: column;
}
.by-space {
    display: inline-flex;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 {
    color: var(--bds-gray-t1-title);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN::after {
    background-color: var(--bds-brand-700-normal);
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    top: 4px;
    width: 8px;
    border-radius: 50%;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN::after {
    left: 4px;
}
.index_orderPaymentTitle__9-Q4B {
    color: var(--gray-08);
}
.index_orderPaymentMethod__XU8ar .index_paddingLeft__ocogI {
    padding-left: 36px;
}
.index_orderPaymentMethod__XU8ar .index_paymentMethodTips__ZhJ0j {
    color: var(--bds-gray-t1-title);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    background: var(--bds-brand-100-bg);
    border-radius: 8px;
    margin: 0 0 var(--size-8);
    padding: var(--size-8) var(--size-12);
}
.index_paymentWrapper__tXDlM {
    margin-bottom: 8px;
    border: 1px solid var(--bds-gray-ele-line);
    border-radius: 8px;
}
.by-grid-row--top {
    align-items: flex-start;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN {
    margin-right: 20px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
}
.index_paymentWrapper__tXDlM {
    margin-bottom: 8px;
    border: 1px solid var(--bds-gray-ele-line);
    border-radius: 8px;
}
.index_paymentWrapper__tXDlM .index_paymentTitleWrapper__lLKl7 {
    background-color: var(--bds-gray-ele-line);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--gray-08);
    font-weight: 600;
    position: relative;
    padding: 12px;
}
.index_paymentWrapper__tXDlM .index_clickable__cstJ0 {
    cursor: pointer;
}
.by-grid-col--24 {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
}
.by-radio-wrapper {
    margin-right: 8px;
}
.by-radio-wrapper {
    font-feature-settings: "tnum", "tnum";
    align-items: baseline;
    box-sizing: border-box;
    color: var(--gray-08);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.5715;
    position: relative;
    font-variant: tabular-nums;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.by-radio {
    font-feature-settings: "tnum", "tnum";
    box-sizing: border-box;
    color: var(--gray-08);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5715;
    position: relative;
    top: 0.2em;
    font-variant: tabular-nums;
    list-style: none;
    margin: 0px;
    outline: none;
    padding: 0px;
}
.by-radio-input {
    bottom: 0px;
    cursor: pointer;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    margin: 0px;
}
.by-radio-checked .by-radio-inner {
    border-color: var(--brand-color-01);
}
.by-radio-inner {
    left: 0px;
}
.by-radio-inner {
    background-color: var(--modal-bg-main);
    display: block;
    height: 16px;
    position: relative;
    top: 0px;
    width: 16px;
    border-color: var(--gray-04);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    transition: 0.3s;
}
.by-radio-checked::after {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    box-sizing: border-box;
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    transform-origin: center center;
    visibility: hidden;
    width: 100%;
    animation: 0.36s ease-in-out 0s 1 normal both running byRadioEffect;
    border: 1px solid var(--brand-color-01);
    border-radius: 50%;
}
.by-radio-checked .by-radio-inner::after {
    opacity: 1;
    transform: scale(0.5);
    transition: 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.by-radio-inner::after {
    left: 50%;
    margin-left: -8px;
    border-left: 0px;
}
.by-radio-inner::after {
    background-color: var(--brand-color-01);
    content: " ";
    display: block;
    height: 16px;
    margin-top: -8px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale(0);
    width: 16px;
    border-radius: 16px;
    border-top: 0px;
    transition: 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
span.by-radio + * {
    padding-left: 8px;
    padding-right: 8px;
}
.index_paymentWrapper__tXDlM .index_paymentTitleWrapper__lLKl7 .index_title__dw8xi {
    padding-left: 6px;
}
.by-radio-wrapper::after {
    content: " ";
    display: inline-block;
    width: 0px;
    overflow: hidden;
}
.index_paymentWrapper__tXDlM .index_paymentDetail__KzTOK {
    font-size: 14px;
    line-height: 20px;
    padding: 14px 40px;
}
.by-grid-col--24 {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.by-grid-row--top {
    align-items: flex-start;
}
.index_paymentWrapper__tXDlM .index_paymentLabel__3ZEQP {
    color: var(--gray-07);
}
.by-grid-col--8 {
    display: block;
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
}
.index_paymentWrapper__tXDlM .index_paymentValue__i6xhe {
    color: var(--gray-08);
    font-weight: 600;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.fiat-icon--copy:before {
    content: "\e6b3";
}
.fiat-otc__process-order-wrapper {
    padding: var(--size-24) 0 var(--size-24) 80px;
}
.fiat-otc__process-order-wrapper {
    background-color: var(--color-white);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    bottom: 0px;
    position: sticky;
}
:where(.css-5jb6ku).ant-btn >span {
    display: inline-block;
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-sm {
    padding: 9px 16px;
    font-size: var(--bds-font-size-14);
    line-height: var(--bds-line-height-14);
    border-radius: var(--bds-border-radius-4);
}
:where(.css-5jb6ku).ant-btn.ant-btn-custom {
    height: auto;
    font-weight: var(--bds-font-weight-semibold);
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-primary {
    border: none;
    color: var(--bds-static-black);
    background-color: var(--bds-brand-700-normal);
    box-shadow: none;
}
:where(.css-5jb6ku)[class^="ant-btn"], :where(.css-5jb6ku)[class*=" ant-btn"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-5jb6ku).ant-btn-default.ant-btn-custom.ant-btn-custom-sm {
    padding: 8px 15px;
}
.fiat-otc__process-order-wrapper .ant-btn-custom {
    border-radius: 8px;
}
:where(.css-5jb6ku).ant-btn >span {
    display: inline-block;
}
:where(.css-5jb6ku).ant-btn.ant-btn-custom {
    height: auto;
    font-weight: var(--bds-font-weight-semibold);
}
:where(.css-5jb6ku)[class^="ant-btn"], :where(.css-5jb6ku)[class*=" ant-btn"] {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
:where(.css-5jb6ku).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-sm {
    padding: 9px 16px;
    font-size: var(--bds-font-size-14);
    line-height: var(--bds-line-height-14);
    border-radius: var(--bds-border-radius-4);
}
:where(.css-5jb6ku).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
}
:where(.css-5jb6ku).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .body .otc__detect-sticky {
    height: 1px;
}
.order-faq-list {
    background-color: rgb(255, 255, 255);
    margin-top: 16px;
    width: 85%;
    border-radius: 16px;
}
.order-faq-list .order-title-h2 {
    align-items: center;
    box-shadow: rgb(244, 244, 244) 0px -1px 0px inset;
    color: var(--gray-08);
    display: flex
;
    font-size: 16px;
    font-weight: 600;
    height: 74px;
    line-height: 24px;
}
.order-faq-list .order-title-h2 {
    padding-left: 32px;
}
.order-faq-list .order-content .order-item {
    margin: 0px 32px;
}
.order-faq-list .order-content .order-item .faq-title {
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0px 0px;
}
.order-faq-list .order-content .order-item .faq-title .faq-text {
    color: rgb(21, 25, 42);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.order-faq-list .order-content .order-item .faq-title .iconfont {
    color: var(--gray-06);
    font-size: 12px;
    transform: rotate(0deg);
    transition: 0.2s linear;
}
.icon.iconfont {
    display: inline-block;
}
.iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: by-iconfont !important;
    font-style: normal;
}
.iconfont, .regular {
    font-weight: 400;
}
.icon-down:before {
    content: "\e81c";
}
.order-faq-list .order-content .order-item .faq-content {
    box-shadow: rgb(244, 244, 244) 0px -1px 0px inset;
    color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    max-height: 9px;
    padding-bottom: 16px;
    overflow: hidden;
}
 .otc-fiat__report-sideBar {
    right: 24px;
}
.otc-fiat__report-sideBar {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 2px 32px rgba(18, 18, 20, .1);
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    position: fixed;
    text-align: center;
    top: 208px;
    width: 44px;
    z-index: 998;
}
.otc-fiat__report-sideBar .otc-fiat__report-sideBar-img {
    padding-top: 15px;
}
