.fiat-otc__order-detail-wrapper {
    margin: var(--size-24) auto 0;
    padding-bottom: 80px;
    width: 100%;
    padding: 14px;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper {
    color: #fff;
    margin-bottom: 24px;
    width: 776px;
}

.by-grid-row--bottom {
    align-items: flex-end;
}
.by-grid-row--space-between {
    justify-content: space-between;
}
.by-grid-row {
    display: flex;
    flex-flow: row wrap;
}
.by-grid-col {
    max-width: 100%;
    min-height: 1px;
    position: relative;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-id-and-time {
    font-size: var(--size-12);
    line-height: 18px;
}
.by-space-align--center {
    align-items: center;
}
.fiat-otc__order-detail-wrapper .content-wrapper {
    width: 100%;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content {
    border-radius: 16px;
    width: 776px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header {
    background-color: var(--card-color);
    border-radius: inherit;
    margin-bottom: 16px;
    padding: 24px 32px;
    position: relative;
}
.success {
    color: var(--f-success-01);
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .order-icon.fiat-iconfont {
    display: inline-block;
}
.fiat-icon--success-big:before {
    content: "\e609";
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title {
    color: var(--color-white);
    display: flex;
    font-size: var(--size-20);
    font-weight: 600;
    line-height: 28px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-info {
    color: var(--bds-gray-t2);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .header-title-info-span {
    color: var(--color-white);
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .header .purchase-quantity {
    font-size: var(--size-12);
    font-weight: 700;
}
:where(.css-5jb6ku).ant-btn-default.ant-btn-custom.ant-btn-custom-x-sm {
    padding: 6px 11px;
}
:where(.css-5jb6ku).ant-btn >span {
    display: inline-block;
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-x-sm {
    padding: 7px 12px;
    font-size: var(--bds-font-size-12);
    line-height: var(--bds-line-height-12);
    border-radius: var(--bds-border-radius-4);
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-secondaryBrand {
    border: 1px solid var(--bds-brand-900-focus);
    color: var(--bds-brand-900-focus);
    background-color: transparent;
    box-shadow: none;
}
:where(.css-5jb6ku).ant-btn.ant-btn-custom {
    height: auto;
    font-weight: var(--bds-font-weight-semibold);
}
.fiat-otc__order-detail-step {
    background-color: var(--card-primary-color);
    border-radius: var(--size-8);
    padding: 16px;
}
.fiat-otc__order-detail-step {
    margin: var(--size-24) 0 0 48px;
}
:where(.css-5jb6ku).ant-space-align-start {
    align-items: flex-start;
}
.fiat-otc__order-detail-step .step-icon {
    color: var(--bds-brand-700-normal);
    font-size: 16px;
    vertical-align: -2px;
}
.icon-success:before, .icon-true:before {
    content: "\e83c";
}
.fiat-otc__order-detail-step .step-label {
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 148px;
}
.fiat-otc__order-detail-step .step-label {
    padding-right: var(--size-4);
}
.fiat-otc__order-detail-step .step-dash-line {
    margin: 8px 8px 0 4px;
}
.fiat-otc__order-detail-step .step-dash-line {
    background-color: var(--bds-gray-t4-dis);
    height: 1px;
    width: 48px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .body.no-process-btn {
    padding-bottom: var(--size-24);
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .body {
    background-color: var(--card-color);
    border-radius: inherit;
    padding-top: var(--size-24);
}
.fiat-otc__order-summary {
    padding: 0 32px 0 44px;
}
.fiat-otc__order-summary {
    width: 100%;
}
:where(.css-5jb6ku).ant-space-vertical {
    flex-direction: column;
}
.fiat-otc__order-summary .fiat-otc__summary-title {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon {
    margin-right: 20px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon {
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    position: relative;
    vertical-align: -3px;
    width: 16px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon:after {
    background-color: var(--bds-brand-700-normal);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    top: 4px;
    width: 8px;
}
.fiat-otc__order-summary .fiat-otc__summary-title .fiat-otc__summary-icon:after {
    left: 4px;
}
.fiat-otc__order-summary .summary-left {
    padding-left: 36px;
}
.fiat-otc__order-summary .summary-info {
    background-color: var(--card-primary-color);
    border-radius: var(--size-8);
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 8px;
    padding: 16px 0 0;
}
.by-grid-col--6 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
}
.fiat-otc__order-summary .summary-info .summary-item {
    margin-bottom: 16px;
}
.fiat-otc__order-summary .summary-info .summary-item {
    border-right: 1px solid var(--border);
}
.fiat-otc__order-summary .summary-info .summary-item .summary-item-value {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
}
.fiat-otc__order-summary .summary-info .summary-item .summary-item-value.pay.sell {
    color: var(--bds-red-700-normal);
}
.index_orderPaymentMethod__XU8ar {
    padding: 0 32px 0 44px;
}
.index_orderPaymentMethod__XU8ar {
    margin-top: var(--size-24);
    width: 100%;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 {
    color: var(--color-white);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN {
    margin-right: 20px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN {
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN:after {
    background-color: var(--bds-brand-700-normal);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    top: 4px;
    width: 8px;
}
.index_orderPaymentMethod__XU8ar .index_paymentTitle__DMKC1 .index_paymentIcon__ZeDGN:after {
    left: 4px;
}
.index_orderPaymentMethod__XU8ar .index_paddingLeft__ocogI {
    padding-left: 36px;
}
.index_paymentWrapper__tXDlM {
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-bottom: 8px;
}
.index_paymentWrapper__tXDlM .index_paymentTitleWrapper__lLKl7 {
    background-color: var(--card-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--color-white);
    font-weight: 600;
    padding: 12px;
    position: relative;
}
.index_paymentWrapper__tXDlM .index_paymentTitleWrapper__lLKl7 .index_title2__6idU\+ {
    border-left: 2px solid var(--brand-color);
    padding-left: 16px;
}
.index_paymentWrapper__tXDlM .index_paymentTitleWrapper__lLKl7 .index_title2__6idU\+ {
    align-items: center;
    display: flex
;
    justify-content: space-between;
}
.by-grid-col--24 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
}
.index_paymentWrapper__tXDlM .index_paymentDetail__KzTOK {
    font-size: 14px;
    line-height: 20px;
    padding: 14px 40px;
}
.by-grid-col--8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.index_paymentWrapper__tXDlM .index_paymentValue__i6xhe {
    color: var(--color-white);
    font-weight: 600;
}
.fiat-iconfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fiat-iconfont !important;
    font-size: 16px;
    font-style: normal;
}
.fiat-icon--copy:before {
    content: "\e6b3";
}
.fiat-otc__order-detail-wrapper .content-wrapper .content .body .order-detail-footer {
    padding: 24px 0 0 80px;
}
:where(.css-5jb6ku).ant-btn-default.ant-btn-custom.ant-btn-custom-sm {
    padding: 8px 15px;
}
:where(.css-5jb6ku).ant-btn {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    /* color: rgba(0, 0, 0, 0.88); */
}
:where(.css-5jb6ku).ant-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
:where(.css-5jb6ku).ant-btn.ant-btn-custom {
    height: auto;
    font-weight: var(--bds-font-weight-semibold);
}
:where(.css-5jb6ku).ant-btn-custom.ant-btn-custom-sm {
    padding: 9px 16px;
    font-size: var(--bds-font-size-14);
    line-height: var(--bds-line-height-14);
    border-radius: var(--bds-border-radius-4);
}
.order-evaluate {
    background-color: var(--card-color);
    border-radius: 16px;
    margin-top: 24px;
    width: 100%;
}
.order-evaluate .evaluate-title {
    align-items: center;
    box-shadow: inset 0 -1px 0 var(--border);
    display: flex;
    height: 74px;
    justify-content: space-between;
    padding: 24px 32px;
}
.order-evaluate .evaluate-title .evaluate-title-left {
    align-items: center;
    display: flex;
}
.order-evaluate .evaluate-title .evaluate-title-left h2 {
    margin-right: 8px;
}
.order-evaluate .evaluate-title .evaluate-title-left h2 {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.content-padding {
    padding: 24px 32px;
}
.order-evaluate-content p {
    color: var(--color-white);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
}
.evaluate-list .evaluate-item {
    background-color: var(--bds-gray-ele-line);
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    padding: 4px;
}
.evaluate-list .evaluate-item .evaluate-item-icon {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
.evaluate-list .evaluate-item .evaluate-item-icon .fiat-iconfont {
    color: var(--bds-gray-t3);
    display: inline-flex
;
    font-size: 20px;
    font-weight: 700;
}
.fiat-icon--a-thumbup:before {
    content: "\e6af";
}
.evaluate-list .evaluate-item em {
    margin-left: 36px;
    margin-right: 48px;
}
.evaluate-list .evaluate-item em {
    align-items: center;
    color: var(--bds-gray-t1-title);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
:where(.css-5jb6ku).ant-space .ant-space-item:empty {
    display: none;
}
.order-faq-list {
    background-color: var(--card-color);
    border-radius: 16px;
    margin-top: 16px;
    width: 100%;
}
.order-faq-list .order-title-h2 {
    align-items: center;
    box-shadow: inset 0 -1px 0 var(--border);
    color: var(--color-white);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 74px;
    line-height: 24px;
}
.order-faq-list .order-title-h2 {
    padding-left: 32px;
}
.order-faq-list .order-content .order-item .faq-title .faq-text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.order-faq-list .order-content .order-item.active .faq-content {
    color: var(--gray-06);
    display: block;
    max-height: 200px;
    opacity: 1;
    padding-top: 8px;
    transition: max-height .5s linear;
}
.order-faq-list .order-content .order-item .faq-content {
    box-shadow: inset 0 -1px 0 var(--border);
    color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    max-height: 9px;
    overflow: hidden;
    padding-bottom: 16px;
}
.order-faq-list .order-content .order-item {
    margin: 0 32px;
}
.fiat-otc__order-detail-wrapper .content-wrapper .message-container {
    height: 600px;
    position: relative;
    width: 400px;
}
.im-container {
    background: var(--card-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}
.im-container-caption {
    box-shadow: inset 0 -1px 0 var(--border);
    padding: 24px 32px;
    width: 100%;
}
.by-avatar {
    box-sizing: border-box;
}
.by-avatar .by-avatar__container {
    align-items: center;
    background: var(--bds-brand-100-bg);
    border-radius: 50%;
    color: var(--bds-brand-700-normal);
    display: flex
;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}
.by-avatar__container__letter {
    font-weight: 600;
}
.im-container-caption__info-nickname {
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--size-20);
    font-weight: 600;
}
.im-container-flex {
    display: flex;
    flex-direction: row;
}
.im-container-caption__info-verified {
    /* color: var(--gray-07); */
    font-size: var(--size-12);
}
.im-container-caption__info-verified .fiat-icon--verified {
    color: var(--brand-color);
    filter: drop-shadow(0 2px 4px rgba(247, 166, 0, .24));
}
.fiat-icon--verified:before {
    content: "\e610";
}
.im-container-flex .im-devider {
    margin: 0 8px;
}
.fiat-divider--vertical {
    border-right: 1px solid var(--gray-03);
}
.fiat-divider {
    border-bottom: 1px solid var(--border);
    width: 100%;
}
.fiat-divider--vertical {
    border: 0;
    height: 10px;
}
.im-container-flex .im-inform span {
    color: var(--brand-900-text);
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
}
.im-container-messages {
    overflow: scroll;
    width: 100%;
}
.im-container-messages, .im-container-messages-dialog {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.im-container-messages, .im-container-messages-dialog {
    display: flex
;
    flex: 1 1;
    flex-direction: column;
}
.im-container-messages-dialog__time {
    color: var(--bds-gray-t3);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 18px;
    margin-bottom: var(--size-8);
    width: 100%;
}
.im-container-messages-dialog__alarm {
    background-color: rgba(239, 69, 74, .16);
    border-radius: 8px;
    color: var(--bds-red-700-normal);
    font-size: 0;
    font-weight: 400;
    margin: 0 32px 16px;
    padding: 9px 12px;
}

.im-container-messages-dialog__alarm .alarm-text {
    font-size: 12px;
    line-height: 18px;
}
.im-container-messages-dialog__info {
    background: var(--card-primary-color);
    border-radius: var(--size-8);
    color: var(--bds-gray-t2);
    font-size: var(--size-12);
    font-weight: 400;
    line-height: 18px;
    margin: 0 32px 16px;
    padding: 9px 12px;
    white-space: normal;
    word-break: break-word;
}
.fiat-icon--news-full:before {
    content: "\e60e";
}
.im-container-messages-dialog__message {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 0 32px;
}
.im-container-messages-dialog__message__avatar {
    margin-right: var(--size-12);
}
.im-container-messages-dialog__message__avatar {
    flex: 0 0 auto;
}
.by-avatar {
    box-sizing: border-box;
}
.im-container-messages-dialog__message_withname span {
    color: var(--bds-gray-t3);
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 4px;
}
.im-container-messages-dialog__message__bubble {
    background: #fef1d6;
    color: #15192a;
    display: inline-block;
    font-size: var(--size-14);
    line-height: 18px;
    padding: var(--size-12);
    word-break: break-word;
}
.im-container-messages-dialog__message__bubble {
    border-radius: var(--size-8) var(--size-8) var(--size-8) 0;
}
.im-container-bybot {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 40px;
    margin-bottom: 16px;
}
.im-container-bybot-img {
    width: 40px;
}
.im-container-bybot-textarea {
    align-items: center;
    animation: grow-right .5s linear;
    background-color: #f7a600;
    display: flex
;
    flex-direction: row;
    gap: 4px;
    justify-content: space-between;
    padding: 11px 12px;
    width: 302px;
}
.im-container-bybot-textarea-span {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #121214;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.im-container-bybot-textarea-icon {
    color: #595d61;
    flex: none;
    height: 16px;
    width: 16px;
}
.im-container-bybot-textarea {
    border-radius: 16px 16px 16px 0;
}
.im-container__bottom {
    align-items: flex-end;
    background: var(--card-color);
    border-radius: 0 0 16px 16px;
    box-shadow: inset 0 var(--size-1) 0 var(--border);
    display: flex
;
    flex: 0 0 auto;
    flex-direction: row;
    min-height: 60px;
    padding: var(--size-14) 32px;
    width: 100%;
}
.im-container__bottom__input {
    margin-right: var(--size-24);
}
.im-container__bottom__input {
    align-items: center;
    display: flex;
    flex: 1 1;
    height: 100%;
    position: relative;
}
.im-container__bottom__input-textarea {
    border: 0;
    font-family: inherit;
    font-size: var(--size-14);
    line-height: 18px;
    max-height: 72px;
    min-height: 19px;
    padding: 0;
    resize: none;
    width: 100%;
    background: transparent;
}
.im-container__bottom__input-compute {
    left: 0;
}
.im-container__bottom__input-compute {
    border: 0;
    font-size: var(--size-14);
    height: 19px;
    line-height: 18px;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    resize: none;
    width: 100%;
}
.im-container__bottom__upload {
    height: 32px;
    position: relative;
    width: 32px;
}
.im-container__bottom__upload {
    margin-right: 12px;
}
.im-container__bottom__upload-input {
    height: 32px;
    opacity: 0;
    width: 32px;
}
.moly-button, .moly-textarea, input {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.im-container__bottom__upload-icon i {
    font-size: 16px;
}
.iconfont, .regular {
    font-weight: 400;
}
.fiat-otc__order-detail-wrapper .order-detail-title-wrapper .order-detail-title-col .title {
    font-size: var(--size-24);
    font-weight: 600;
    line-height: 32px;
}
