.reward-section{
    position: relative;
}
.reward-header{
    width: 100%;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #75737392;
}
.reward-section .title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--color-white);
    font-weight: 900;
    font-size: 18px;
}
.reward-section .title-details.btn{
    border: 1px solid #5D5B5B8C;
    padding: 10px;
    border-radius: 8px;
}
.reward-section .title-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.reward-section .title-details.points img{
    width: 18px;
    height: 18px;
}
.title-details.points span{
    color: #FFC227;
    font-size: 12px;
    font-weight: 400;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns .btn{
    background: #1D2739;
    color: #FFFFFF;
    padding: 10px 40px;
    margin: 0 10px;
    border-radius: 8px;
}
.btns .btn.active{
    background: #FF5500;
}
.reward-body{
    margin: 0 15px 60px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reward-frio{
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
}
.reward-frio span{
    color: #F56630;
    font-weight: 400;
    padding: 10px;
}
.reward-frio div{
    padding: 40px 0 0 0;
    font-size: 18px;
}
.hgjgerx{

    margin-top: 20px;

    gap: 10px;
}
.day{
    width: 160px;
    background: #1D2739;
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.day .head{
    text-align: center;
    padding-bottom: 5px;
}
.day .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 20px;
}
.day .img img{
    width: 120px;
}
.day .points{
    background: #FF5500;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-radius: 6px;
    gap: 4px;
    margin-top: 10px;
    padding: 5px 20px;
    cursor:not-allowed;
    opacity: 0.4;
}
.day .points.active{
    cursor: pointer;
    opacity: 1;
}
.day .points span{
    font-size: 11px;
}
.points h4{
    margin: 0;
}
.cFDYcT {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
}
