.gAvMHL {
    height: 4rem;
    position: fixed;
    z-index: 101;
    left: 0px;
    top: 0px;
    right: 0px;
    transition: 0.2s linear;
    background: var(--background-color);
}
#header {
    padding-left: 210px;
}
/* .gAvMHL::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -0.75rem;
    width: 100%;
    height: 0.75rem;
    background-image: linear-gradient(to right, rgb(34 34 35), rgb(36 38 43 / 0%));
    opacity: 0.25;
} */
.gAvMHL .header-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid #75737392 ;
}
.gAvMHL .header {
    transition: 0.5s;
    max-width: 112.5rem;
    padding: 0px 0.75rem;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
}
.gAvMHL .left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
}
.ftyLxH {
    margin-right: 24px;
    padding-left: 2%;
}
.jivBdD {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: auto;
}
.ftyLxH .search-pc {
    margin-left: 4%;
    max-width: 32.5rem;
}
.jsyNKG {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    flex: 1 1 0%;
}
.jsyNKG .search-input-wrap-pc {
    width: 100%;
    height: 2.875rem;
    border-radius: 1.4375rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1px solid transparent;
    position: relative;
}
.dwaOxj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: var(--card-color);
    border-radius: 1.4375rem;
    padding: 0px 0.875rem;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}
.dwaOxj input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 0.375rem;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.gAvMHL .login-in {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.gAvMHL .login-in .button {
    width: 8.25rem;
    height: 2.5rem;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
}
.dwaOxj:focus-within {
    border: 1px solid var(--primary-color);
}


.logout{
    position: relative;
    margin: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.name-address{
    font-size: 12px;
    padding: 10px;
    line-height: 20px;
}
.name-address .user{
    font-size: 14px;
    font-weight: 600;
}
.avatar{
    padding: 10px 0;
    position: relative;
}
.avatar .active{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #04802E;
    border-radius: 50%;
    left: 70%;
    bottom: 20%;
    border: 1px solid #fff;
}
.logout-icon svg{
    width: 15px;
    height: 15px;
    fill: #fff;
}
.avatar .img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    background-image: radial-gradient(at left bottom, rgb(196, 181, 253), rgb(109, 40, 217));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
.explore-cards{
    margin: 5px 5px;
    background-image: url(/asset/frame2.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 40px;
    --tw-bg-opacity: 0.5;
    background-color: #370303;
    border-radius: 8px;
    background-color: rgb(55 3 3 / var(--tw-bg-opacity, 1));
}
.menu-box .line {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #1D2739;
    margin: 1px 0.625rem;
}
.Lkowuens{
    display: flex;
    gap: 10px;
    margin: 0 7px;
}
.Lkowuens .btn{
    font-weight: 800;
}
.Lkowuens .btn.active{
    color: var(--primary-color);
}
.overlay{
    background: linear-gradient(43.31deg, #0f162400 2.65%, #0640b5 125.88%);
    border-radius: 8px;
}
.Loejnsn img{
    position: absolute;
}
.Oinedns{
    padding: 35px 0px 10px 5px;
    margin: 5px 0;
}
.Oinedns h4{
    font-size: 12.5px;
    font-weight: 600;
    color: var(--active-text);
    padding: 5px;
}
.KojhihKHun{
    position: fixed;
    z-index: 102;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 210px;
    transition: 0.2s linear;
    overflow: scroll;
    background: var(--background-color);
    border-right: 1px solid #75737392 ;
}
.KojhihKHun::-webkit-scrollbar{
    display: none;
}
.KojhihKHun::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0.75rem;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(to right, rgb(34 34 35), rgb(36 38 43 / 0%));
    opacity: 0.1;
    z-index: -1;
}
.logo-holder{
    width: 100%;
    position: relative;
    margin: 15px 10px;
}
.logo-holder img{
    width: 9.9rem;
}
.Lkoejihsn{
    margin-top: 0px;
    padding: 0px 0px;
}
.options{
    cursor: pointer;
    position: relative;
}
.flip-button{
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;        
    gap: 10px;
    font-weight: 600;
}
.flip-button:hover,  .flip-button:hover svg{
    color: var(--primary-color);
    fill: var(--primary-color);
    background-color: var(--card-color);
}
.flip-button.active, .flip-button.active svg{
    background-color: var(--card-color);
    color: var(--primary-color);
    fill: var(--primary-color);
}
.kdoijiuhr{
    margin-top: 0px;
    padding: 0px 10px;
}