.jKSlie{
    padding: 0;
    margin: 0;
}
.Kjhkd{
    margin: 10px;
    position: relative;
}
.Kjhkd img{
    width: 12rem;
    padding: 20px;
}
.welcome-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.welcome-section .ksoiend{
    position: relative;
}
.Josehjs{
    color: var(--active-text);
    text-align: center;
    padding: 10px;
}
.option-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.slksjle{
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 40px;
}
.Kjkejskeii img{
    display: flex;
    justify-items: center;
    margin-left: 20px;
}
.Kppwdmd{
    text-align: center;
    color: var(--primary-color);
    padding: 5px;
}
.jKSlie .button {
    width: 370px;
    height: 60px;
    margin-top: 50px;
    border-radius: 12px;
}
.KJkejojsn{
    position: relative;
}
.button-createel{
    margin-top: 90px;
    padding: 10px 0;
}
.Kownsdjj{
    display: flex;
    justify-content: center;
    width: 100%;
}
.button{
    height: 36px;
    padding: 5px 40px;
}
.Kjieojuebs{
    width: 100%;
    height: 100vh;
    background-image: url(/asset/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.kwqqqyiu img{
    width: 5.56rem;
    padding: 17px 0;
}
.uyiuytf{
    padding: 14px 0;
}
._9jhuhk{
    font-size: 12px;
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown {
    background: var(--bds-gray-bg-card);
    border: 1px solid var(--bds-gray-ele-line);
    box-shadow: var(--bds-shadow-l1);
    border-radius: 8px;
}
.fiat-otc-dropdown {
    width: 160px !important;
}
:where(.css-7o12g0).ant-select-dropdown {
    box-sizing: border-box;
    margin: 0;
    padding: 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Arial', sans-serif;
    position: absolute;
    top: -9999px;
    z-index: 1050;
    overflow: hidden;
    font-variant: initial;
    background-color: #ffffff;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
:where(.css-7o12g0).ant-select-dropdown.ant-select-custom-dropdown .ant-select-custom-search-input {
    width: calc(100% - 24px);
    margin: 8px 12px 12px;
}
:where(.css-7o12g0).ant-input-affix-wrapper.ant-input-custom.ant-input-affix-wrapper-focused {
    border-color: var(--bds-brand-800-pressed);
    box-shadow: var(--bds-focused-halo-brand);
    border-inline-end-width: 1px;
    outline: 0;
}
:where(.css-7o12g0).ant-input-affix-wrapper::before {
    width: 0;
    visibility: hidden;
    content: "\a0";
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-prefix {
    margin-inline-end: 4px;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-prefix, :where(.css-7o12g0).ant-input-affix-wrapper .ant-input-suffix {
    display: flex;
    flex: none;
    align-items: center;
}
:where(.css-7o12g0).ant-input-affix-wrapper .ant-input-prefix {
    margin-inline-end: 4px;
}
